<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Styled Scroll Bars</title>
</head>
<body>
    <div class="content" id="style-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem doloremque dolores, facere omnis cupiditate rerum atque facilis id, voluptatum delectus sit alias dolore odit perspiciatis at ad, deleniti laboriosam voluptatibus?</p>
        <p>Nesciunt perspiciatis officiis maiores illo sed eaque. Maxime, voluptatum, odio! Blanditiis, eum expedita sed eveniet praesentium amet aut sunt, nobis in, quia fugiat, reprehenderit ipsum at. Nemo rerum, recusandae exercitationem!</p>
        <p>Explicabo perspiciatis minus ad, odit ullam nemo quos. Omnis accusamus tempore commodi ea quo voluptate nihil saepe, ducimus voluptates. Repellat quaerat tempore officiis, harum adipisci fugiat quod amet sint voluptas!</p>
        <p>Facere reprehenderit recusandae necessitatibus repellat dignissimos dolorem, quod vitae quibusdam tenetur! Sint officia, eaque, suscipit perferendis tenetur, enim provident neque quidem officiis cum sit possimus quae ullam? Cum, rerum laudantium.</p>
        <p>Eveniet at laboriosam maiores nobis, odio minima perspiciatis rerum cupiditate, quia consectetur ullam tempore natus sint magni commodi. Obcaecati libero doloribus deleniti. Iste ex labore ratione, quas rerum, ullam molestiae.</p>
        <p>Illum quos impedit perspiciatis repudiandae, commodi quas odit laudantium eligendi, adipisci deleniti corporis excepturi et omnis ipsum explicabo nobis, distinctio magnam totam mollitia necessitatibus voluptatem porro? Aliquam labore, delectus molestias.</p>
        <p>Voluptate explicabo unde necessitatibus libero amet delectus ipsa voluptas ipsam laudantium omnis officiis, hic a temporibus quasi veritatis consequatur quis repellendus tempore officia natus mollitia. Nesciunt minima assumenda, aspernatur ad.</p>
        <p>Dolorem nisi quaerat aliquid explicabo atque, ducimus hic mollitia nihil odio, fuga adipisci totam voluptatem dolores praesentium voluptates voluptate ratione. Inventore, atque cumque dolores ex. Fuga inventore, deserunt porro velit?</p>
        <p>Recusandae, fugiat maxime facere, nisi pariatur aliquid perferendis ducimus. Sunt quos aliquam ab. Sed magnam, soluta quas laboriosam illo, repellendus fugiat, earum doloremque quos sit dolorem? Tempora magni officia sed.</p>
        <p>Dicta magnam culpa assumenda minus qui sit magni quod veniam quaerat totam sequi iste, alias. Nam harum saepe omnis expedita, nemo voluptatibus magni quo voluptatum reprehenderit eveniet. Eum, modi, officia.</p>
        <p>Eos tenetur repellendus, assumenda sed tempore consequatur omnis! Provident pariatur possimus repellendus, culpa neque laborum vel vitae consectetur, dicta voluptas sit nisi at explicabo fugit necessitatibus. Eum doloribus sit accusamus.</p>
        <p>Cum pariatur ipsam neque adipisci ab, quo sequi nesciunt reprehenderit aliquam consequatur quidem et nemo. Rerum beatae veniam et, earum dolores, cumque alias libero vero quidem nihil voluptatem molestiae pariatur!</p>
        <p>Molestias enim nihil earum magnam sapiente ducimus cum cupiditate minima in voluptates fuga, doloremque, explicabo libero alias delectus mollitia fugit nobis commodi nemo provident optio minus neque? Molestias, debitis doloremque!</p>
        <p>Quo omnis tempore voluptate praesentium eum eaque, ipsam, porro vitae perspiciatis ipsum, placeat magnam earum, quam doloribus repudiandae ea atque quisquam delectus reiciendis illum suscipit. Deserunt harum, facere eos itaque.</p>
        <p>Est quos, esse nam, tenetur architecto, a repellat alias enim labore ipsum omnis maxime commodi corrupti voluptate sit amet aliquam. Neque saepe magni, veritatis. Ab placeat eum aliquam, consequatur similique.</p>
        <p>Eaque, recusandae nemo quaerat quas aperiam optio molestias quisquam aut reiciendis. Asperiores voluptate cum illum provident modi, culpa, vero ipsa, molestiae nihil deserunt cupiditate dolor molestias quisquam minima. Iste, qui.</p>
        <p>Rem quae maiores officiis, ducimus delectus placeat, perspiciatis. Quisquam dolorem nulla, quidem sapiente reiciendis ex tenetur impedit quae. Iure quos provident dolorem odit velit dolore, harum excepturi doloribus tempore reprehenderit.</p>
        <p>Quam id eaque ducimus deleniti eligendi, quae doloribus libero illum, ipsum, quidem temporibus aut sapiente dolor possimus modi sint excepturi numquam consequuntur officiis magni esse maiores ea tempora at! Blanditiis.</p>
        <p>Voluptatem sapiente ratione totam, exercitationem ipsum tempore adipisci voluptatibus laboriosam. Hic quod deserunt sit excepturi, sint unde eos in velit. Consequatur ut cumque et, quibusdam, eum sint necessitatibus veritatis laudantium!</p>
        <p>Repellat deleniti esse, similique ipsa eligendi nam voluptatibus iure suscipit omnis. Explicabo perspiciatis laudantium, tempore eius voluptatem ab aliquam quidem cumque magnam placeat ipsum et eum, cum accusamus a ea?</p>
        <p>Ipsa beatae sint impedit facere accusantium tenetur, natus nostrum eius voluptate consequatur, odit magni, quo doloremque eum debitis! Corrupti quibusdam veniam aliquam vero. Mollitia cupiditate libero, deserunt sapiente quis minus!</p>
        <p>Placeat fugit, quos, facere iure reprehenderit architecto voluptates. Soluta explicabo praesentium, fuga? Architecto, voluptatum iusto, at dolorum laboriosam quod sunt dolor facere saepe aperiam inventore. Debitis corporis, adipisci atque aperiam.</p>
        <p>Laudantium totam voluptatem aliquam asperiores nobis aspernatur sunt, aliquid atque sequi, minus quo quos adipisci iste. Facilis consectetur voluptatem animi unde, sit, ducimus explicabo quidem architecto! Nobis dolores, at expedita!</p>
        <p>Nihil nemo ad nisi eum sed obcaecati repellendus a, amet autem perspiciatis voluptas minus, animi porro. Mollitia non, et illo asperiores ducimus magni sapiente in temporibus. Minima mollitia ex nulla.</p>
        <p>Suscipit nulla, porro quasi magnam rerum ipsa placeat, quidem eaque beatae neque ad cum a, praesentium cupiditate est qui culpa rem ab expedita, molestias sit? Reiciendis voluptatibus quod neque animi.</p>
        <p>Sunt repellendus laboriosam sapiente magnam quaerat necessitatibus nihil debitis quibusdam, veniam in magni commodi fugiat minima, amet aspernatur consequuntur odio qui. Quibusdam odit perspiciatis saepe consequuntur placeat, dignissimos accusantium neque!</p>
        <p>Earum dolor optio modi voluptatem iure iusto eum voluptate neque voluptates necessitatibus, asperiores similique repellat natus harum perferendis consectetur reiciendis esse architecto dolores repudiandae vitae maiores. Velit omnis, suscipit hic.</p>
        <p>Vero corporis saepe perferendis magnam architecto temporibus assumenda in dignissimos, voluptate, accusamus nam inventore consequatur similique eligendi atque aliquam iusto maxime velit, exercitationem laudantium animi odit recusandae autem? Molestiae, nesciunt?</p>
        <p>Facilis, vero, nulla? Aliquam illum cupiditate, amet, blanditiis repellat officiis vero optio animi. Minus itaque, excepturi veritatis. Modi tempora officiis dolor soluta quasi asperiores illo enim doloremque harum quisquam. Inventore?</p>
        <p>Illo perspiciatis animi magni laudantium rerum repellat fuga, ratione, architecto laboriosam impedit sed autem placeat inventore in assumenda ipsa! Hic dolores voluptatem vel ullam obcaecati id minus voluptas sed, consequatur.</p>
        <p>Tempore obcaecati dolorum maxime accusantium labore laboriosam, consequuntur quia architecto assumenda, ipsum quasi enim veritatis doloribus, non error in ipsa nesciunt maiores et praesentium sequi vel. Consequatur, ullam odit quaerat!</p>
        <p>Impedit ipsam laboriosam repellat eveniet a, dolorum ducimus, voluptates aut obcaecati iusto corrupti expedita ratione voluptatibus soluta amet assumenda necessitatibus in quis et distinctio. Qui corrupti veniam reprehenderit repudiandae at.</p>
        <p>Incidunt autem culpa inventore doloribus asperiores, tempora deserunt, molestias itaque maxime sint eveniet minima sunt. Similique recusandae natus consectetur nulla, cumque quae sunt. Pariatur magnam quas tempore, earum laborum, eum.</p>
        <p>Ex eaque sed, quos ipsum rem aspernatur voluptatum dignissimos, minima officia amet labore perspiciatis distinctio, autem tempora ea, itaque magni veritatis fugit! Illo et doloremque porro rerum, eos, labore ducimus.</p>
    </div>
</body>
</html>




<style>
    body {margin: 50px;}
    .content {border: 1px solid red; height: 200px; overflow-y: scroll; overflow-x: hidden}
    
#style-1::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;background-color: #F5F5F5;}
#style-1::-webkit-scrollbar {width: 12px;background-color: #F5F5F5;}
#style-1::-webkit-scrollbar-thumb { border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #555;}

</style>